public-hoist-pattern[]=tsc-watch
public-hoist-pattern[]=npm-run-all
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*swc*

public-hoist-pattern[]=debug
public-hoist-pattern[]=dotenv
public-hoist-pattern[]=prettier
public-hoist-pattern[]=*eslint*
